:root {
    --border-rad-lg: 15px;
    --medium-dark-text: #637f9f;
    --dark-text: #000000;
}

*, *::before, *::after {
    box-sizing: border-box;  
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

main {    
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-info-container {
    width: 70vw;
    max-height: 95dvh;
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    top: 50%;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    justify-content: center;
    border-radius: 20px;
    flex-flow: column nowrap;
    background-color: #fbfbfb;
    .profile-head {
        width: 100%;
        max-width: 500px;
        margin-top: 0;
        padding: 0 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        h1 {
            color: #000000;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 900;
        }
        img {
            margin: 10px;
            max-width: 100%;
            border-radius: 50%;
        }
        span {
            font-size: 12px;
            margin: 10px;
            color: var(--medium-dark-text);
            &:last-of-type {
                color: #000000;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
    form {
        width: 100%;
        max-width: 700px;
        display: flex;
        margin-top: 1rem;
        flex-flow: row wrap;
        padding: 1rem 2rem;
        p {
            color: #003ed0;
            font-size: 17px;
            font-family: cursive;
            font-weight: 800;
            margin: 2rem 0;
        }
        label {
            font-size: 12px;
            margin-top: 1rem;
            color: var(--medium-dark-text);
        }
        textarea {
            width: 100%;
            min-height: 60px;
            margin: 10px 0;
            padding: 10px;
            background: #637f9f21;
            border-radius: 20px;
            outline: none;
            color: #1f1f1f;
            &:focus {
                background: #536a8435;
            }
        }
        #submit-info {
            background: #000000;
            color: #ffffff;
            font-weight: 800;
            width: 100%;
            min-height: 70px;
            margin: 10px 0;
            padding: 20px;
            border-radius: 20px;
            border: none;
            outline: none;
            &:hover {
                background: #141414;
                color: #dadada;
            }
            &:active {
                transform: scale(1.02);
                transition: ease-out .2;
            }
        }
    }
}


/* chatbot elements */

.chatbot-container {
    background-color: #e7e7e7;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.chatbot-header {
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0;
    padding: 5px 10px;
    flex-flow: row nowrap;
    backdrop-filter: blur(7px);
    border-bottom: 1px solid 
    #8080803e;
}

.logo {
    border-radius: 50%;
    width: 45px;
    margin: 0 10px;
    height: 45px;
}

.chatbot-header > h1 {
    font-size: 19px;
    color: var(--dark-text);
    font-weight: 900;
    font-family: 'Dela Gothic One', Monospace;
}

.chatbot-header > p {
    color: var(--medium-dark-text);
    font-size: 10px;
    position: absolute;
    right: 20px;
    padding: auto 0;

}

.chatbot-header > h3 {
    font-size: 11px;
    font-family: 'Grenze', sans-serif;
    padding: 3px;
    color: var(--medium-dark-text);
    font-weight: 700;
}

.chatbot-conversation-container {
    border-left: 2px solid var(--medium-dark-text);
    margin-top: 8rem;
    padding: .8em;
    margin-left: 10px;
}

.leasons-ai-container {
    padding: 5px;
}

.leasons-ai-text {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;

}

@keyframes ai-typing-sign {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* The cursor */

.blinking-cursor::after {
    content: ".";
    font-size: 140px;
    font-weight: 900;
}
@media only screen and (min-width: 680px) {
    .leasons-ai-container {
        max-width: 70%;
    }
    .profile-info-container {
        flex-flow: row nowrap;
    }
}
